.employmentRow {
    display: block;
    margin: 3rem;
    padding: 1rem;
    overflow: visible;
    background-color: lightseagreen;
    height: 20rem;
    margin-left: auto;
    margin-right: auto;
}
.employmentRowLast {
    display: block;
    padding: 3rem;
    overflow: visible;
    background-color: lightseagreen;
    height: 20rem;
    margin-left: auto;
    margin-right: auto;
}
.expirience {
    width: 20rem;
    height: auto;
    margin: auto;
}

.my_image{
    border-radius: 10%;
    width: 120px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}
.main_body{
    background-color: #1a1a1a;
    width: auto;
    height: auto;

}

nav ul li{
    list-style: none;
    display: inline-block;
}

nav{
    background-color: lightseagreen;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    text-align: center;
    justify-content: center;
    font-weight: bold;
}

nav li a{
    padding: 1px 10px;
    box-sizing: content-box;
}

body{
    margin-bottom: 0;
}

.title{
    text-align: center;
    padding-top: 5%;
    color: lightseagreen;
    font-weight: bold;
    font-style: oblique;
}

.feed_img{
    width: 25%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.feed_heading{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font: serif;
    font-style: oblique;
    font-size: large;
}
.feed_info{
    text-align: center;
    font-size: small;
    font: serif;
}

.feed_more_info{
    padding-top: 10px;
    text-align: center;
    font-size: x-small;
    font: serif;
}

.feed_more_info_top{
    padding-top: 40px;
    text-align: center;
    font-size: x-small;
    font: serif;
}


.socialmedia{
    display: block;
    
}

.main_about{
    margin-left: 10%;
    margin-right: 10%;
}

.boxes_about{
    display: block;
    background-color: lightseagreen;
    margin-top: 20px;
}

.questions{
    padding-top: 2%;
    padding-left: 4%;
    font: serif;
    font-style: oblique;
    font-size: small;
}

.answers{
    margin-left: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    font: serif;
    font-size: small;
}

.about_top{
    padding: 5%;
    font: serif;
    font-size: small;
}

.project_pic{
    width: 20rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}

.project_paragraph{
    display: block;
    background-color: lightseagreen;
    font-size: small;
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
}
.project_title{
    text-align: center;
    padding: 10px;
    font-style: oblique;
}

.other_title{
    padding: 10px;
    text-align: center;
    color: white;
}
.about_block{
    display: block;
    background-color: lightseagreen;
    margin-left: auto;
    margin-right: auto;
    width: 20rem;

}

.listcertificates{
    padding-left: 10px;
}