.employmentRow {
    display: block;
    margin: 3rem;
    padding: 1rem;
    overflow: visible;
    background-color: lightseagreen;
    height: 20rem;
    margin-left: auto;
    margin-right: auto;
}
.employmentRowLast {
    display: block;
    padding: 3rem;
    overflow: visible;
    background-color: lightseagreen;
    height: 20rem;
    margin-left: auto;
    margin-right: auto;
}
.expirience {
    width: 20rem;
    height: auto;
    margin: auto;
}

.my_image{
    border-radius: 50%;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}
.main_body{
    background-color: #1a1a1a;
    width: auto;
    height: auto;

}

nav ul li{
    list-style: none;
    display: inline-block;
}

nav{
    background-color: lightseagreen;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    text-align: center;
    justify-content: center;
    font-weight: bold;
}

nav li a{
    padding: 1px 10px;
    box-sizing: content-box;
}

body{
    margin-bottom: 0;
}

.title{
    text-align: center;
    padding-top: 5%;
    color: lightseagreen;
    font-weight: bold;
}

.feed_img{
    width: 25%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.feed_heading{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font: serif;
    font-style: oblique;
    font-size: large;
}
.feed_info{
    text-align: center;
    font-size: small;
    font: serif;
}

.feed_more_info{
    padding-top: 10px;
    text-align: center;
    font-size: x-small;
    font: serif;
}

.feed_more_info_top{
    padding-top: 40px;
    text-align: center;
    font-size: x-small;
    font: serif;
}

.feed_link{

}
